md-toolbar {
  transition-property: background-color, fill, color, margin !important;
  -webkit-transition-property: background-color, fill, color, margin !important;
  margin-top: 0 !important
}

md-toolbar.ng-hide:not(.ng-hide-animate) {
  margin-top: -100px !important;
  display: flex !important
}

.login-container {
  background-color: #fff
}

.login-container md-input-container {
  margin: 0
}

.login-container md-input-container:first-child {
  margin-top: 20px
}

.no-padding {
  padding: 0 !important
}

md-progress-circular.central {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  z-index: 9999 !important
}

.monospace {
  font-family: Consolas, Menlo, Monaco, monospace
}

h2.cardHeader {
  margin: 0
}

h2.cardHeader.problem {
  display: inline-block
}

div.tips-container {
  width: inherit !important;
  margin-left: 0 !important;
  padding: 30px 10px !important;
  border-radius: 7px
}

div.drop-box, div.tips-container {
  position: relative;
  background: #f5f5f5;
  border: 5px dashed #ccc;
  width: 27%;
  text-align: center;
  padding: 50px 10px;
  margin-left: 10px;
  transition: background-color .1s ease-in-out
}

div.drop-box:first-child, div.tips-container:first-child {
  margin-left: 0
}

div.drop-box.dragover, div.tips-container.dragover {
  background-color: #fbfbfb
}

div.drop-box.dragover.dark, div.tips-container.dragover.dark {
  background: #3a3a3a
}

div.drop-box .filename, div.tips-container .filename {
  font-size: .74em;
  height: 1.2em;
  clear: both;
  font-style: italic
}

div.drop-box[disabled=disabled], div.tips-container[disabled=disabled] {
  background: #fbfbfb;
  cursor: no-drop
}

div.drop-box.with-margin, div.tips-container.with-margin {
  width: inherit;
  margin: 6px 8px
}

div.drop-box.dark, div.tips-container.dark {
  background: #303030;
  border-color: #656565
}

div.drop-box.task-submission, div.tips-container.task-submission {
  width: initial
}

@media (min-width:960px) {
  div.drop-box.task-submission, div.tips-container.task-submission {
    width: 100%
  }
}

.sidenav-small-title {
  font-size: .84em
}

.sidenav-content {
  height: initial;
  min-height: initial
}

div.inline-progress-circular {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 1.1em
}

div.inline-progress-circular>md-progress-circular {
  transform: scale(.35, .35);
  margin-top: -16px;
  display: inline-block;
  margin-left: -10px
}

div.inline-progress-circular>span {
  display: inline-block;
  order: -1
}

md-input-container.select-plus-button {
  display: flex
}

md-input-container.select-plus-button>md-progress-circular {
  transform: scale(.45, .45);
  margin-top: -5px;
  display: inline-block;
  order: -2
}

md-input-container.select-plus-button>md-select {
  display: inline-block;
  flex-grow: 1;
  order: -1
}

md-input-container.select-plus-button>md-button {
  display: inline-block;
  margin: 0;
  width: 36px;
  padding: 0
}

md-dialog.submission-popup {
  width: 600px
}

md-icon.fa.check-over-icon {
  font-size: 20px;
  position: absolute;
  top: 5px;
  left: 50px
}

md-list-item md-progress-circular.loading-description {
  transform: scale(.26, .26);
  display: inline-block;
  position: relative;
  top: -10px;
  width: inherit !important;
  height: inherit !important
}

.animated-height {
  transition: min-height .56s ease-in-out
}

pre.wrap-lines {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}
